@import '@radix-ui/themes/styles.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;&display=swap');
@import url('tldraw/tldraw.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter';
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
